extends ../layout

block content
    a(href='/bicicletas') volver

    br
    br
    br

    h1 Nueva Bicicleta

    br
    br
    
    form(action="/bicicletas/create", method="post")
        label  ID:
        input#id(type='text' name='id')
        br
        label  Color:
        input#color(type='text' name='color')
        br
        label  Modelo:
        input#modelo(type='text' name='modelo')
        br
        label Latitud:
        input#lat(type='text' name='lat')
        br
        label  Longitud:
        input#long(type='text' name='long')
        br
        br
        input.btn(type="submit" value="OK")
