extends ../layout

block content
    a(href='/bicicletas') volver

    br
    br
    br

    h1 Actualizando Bicicleta

    br
    br
    
    form(action=`/bicicletas/${bici.id}/update `, method="post")
        label  ID:
        input#id(type='text' name='id' value=bici.id)
        br
        label  Color:
        input#color(type='text' name='color' value=bici.color)
        br
        label  Modelo:
        input#modelo(type='text' name='modelo' value=bici.modelo)
        br
        label Latitud:
        input#lat(type='text' name='lat' value=bici.ubicacion[0])
        br
        label  Longitud:
        input#long(type='text' name='long' value=bici.ubicacion[1])
        br
        br
        input.btn(type="submit" value="OK")
